---
layout: default
title: Home
---


{% assign psize = site.posts | size %}
{% if psize == 0 %} 
  <h1 class="post-title">Coming soon</h1>
{% else %}



<h1 class="post-title">Drivers</h1>

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>

{% endif %}
