---
layout: default
---

<div class="post">
  

  <h1 class="post-title">{{ page.title }}</h1>

  
  <div class="post-line"></div>
  {% if page.download %}
  <hr>
  <ul>
    <li><strong>Download:</strong> <a href="{{ page.download }}" onclick="ga('send', 'event', 'Download {{ page.filename }}', 'Post', 'click');">{{ page.filename }}</a></li>
    <li><strong>Release notes:</strong> <a href="{{ page.release_notes }}" target="_blank" onclick="ga('send', 'event', 'Release notes for {{ page.release_name }}', 'Post', 'click');">{{ page.release_name }}</a></li>
  </ul>
  <hr>

  {% endif %}

  {{ content }}

  <h2 id="getting-help">Getting help</h2>

  <p>This should be pretty straight forward - but if you are looking for more help - feel free to ping me on <a href="mailto:harper@nata2.org" onclick="ga('send', 'event', 'Get help', 'click', 'email');">email</a>, <a href="http://www.c4forums.com/profile/138454-harper/" onclick="ga('send', 'event', 'Get help', 'click', 'c4forums');">c4forums</a> or <a href="https://www.reddit.com/user/nata2/" onclick="ga('send', 'event', 'Get help', 'click', 'reddit');">reddit</a>.</p>

</div>

<div class="post-info">
    {% if page.date %}
      <br>
      <span>Posted on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>



<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
